<config>
    <startNowMinusNDays>721</startNowMinusNDays>
    <dimValues>
    	<dimValue>
    		<name>ndays</name>
    		<value>47.0</value>
    	</dimValue>
    	<dimValue>
    		<name>upperSigma</name>
    		<value>1.2</value>
    	</dimValue>
    	<dimValue>
    		<name>lowerSigma</name>
    		<value>0.9</value>
    	</dimValue>
    	<dimValue>
    		<name>minBuyRatio</name>
    		<value>0.1</value>
    	</dimValue>
    	<dimValue>
    		<name>maxBuyRatio</name>
    		<value>0.3</value>
    	</dimValue>
    	<dimValue>
    		<name>maxSellRatio</name>
    		<value>0.2</value>
    	</dimValue>
    </dimValues>
    <fitnessValue>2.27</fitnessValue>
</config>